html {
    background-color: chartreuse;
    padding: 150px;
}

body {
    background-color: white;
    margin: 25px auto;
    width: 650px;
    padding: 75px;
    border-radius: 25px;
}

input {
    width: 50px;
    padding: 5px;
}

button {
    padding: 10px;
    background-color: yellow;
    cursor: pointer;
    border-radius: 10px;
}

p {
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}